* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(48, 16, 255, 1) 0%, rgba(100, 115, 255, 1) 100%);
}

.numerals-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
}

h1 {
    margin: 100px 0 32px 0;
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.numerals-form {
    margin-bottom: 32px;
}

.numeral-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    text-align: center;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
}

.numeral-input::placeholder {
    color: #e2e2e2;
}

.numerals-button {
    padding: 16px;
    margin-bottom: 30px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
    color: #fff;
    text-transform: capitalize;
}

.convert {
    padding: 50px 14px 14px 16px;
    margin-top: 50px;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid rgba(171, 145, 246, 0.24);
    outline: none;
    width: 450px;
    height: 150px;
    text-align: center;

    background: linear-gradient(
            90deg,
            rgba(20, 159, 255, 1) 0%,
            rgba(17, 122, 255, 1) 100%
    );
    color: #fff;
    position: center;
}

.convert::placeholder {
    border: 2px solid #5d0cff;
}


.numerals-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

